/* Temel sıfırlama */
body, button, form, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width:  100px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Harita stili */
.map {
  margin-top: 60px; /* Navbar yüksekliğine göre ayarlanmalı */
  width: 100vw;
  height: 100vh; /* Navbar yüksekliğini hesaba katar */
  border: 1px solid #ccc;
}

/* Form ve buton stilleri */
form {
  margin: 20px;
}

select {
  padding: 5px;
}

button {
  background-color: #ffcc33;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #e0a900;
}

button:focus {
  outline: none; /* Dış çizgi kaldırma */
}

button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}
